:root {
    --couleur-fond: #CCC;
    --couleur-principale:  #dc0a2d;
    --couleur-principale2: #D1092B;
    --couleur-secondaire:  #89061c;
    --couleur-gris:        #dedede;
    --lampe-principale: #28aafd;
    --lampe-secondaire: #196a9e;
}

/* SCENE */
.scene {
    perspective: 3000px;
    perspective-origin: 300px 500px;
    transform: translateY( 0px );
    position: fixed;
    top: 50%;
}

body {
    font-family: verdana;
    font-size: 12px;
    background: var( --couleur-fond );
}
.ligne {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.border {
    border: 1px solid black;
}


/* ELEMENTS EN 3D */
/* Ensemble du Pokedex */
.pokedex {
    transform: rotateX( 60deg ) rotateZ( 70deg ) translateZ(-0px) translateX(50px) translateY(-200px);
    height: 100%;
    width: 280px;
    position: relative;
    transform-style: preserve-3d;
    transition: 4s;
    /* Center du truc 3D (autour duquel la rotation se fait) */
    transform-origin: 140px 0px 0px;
    /* Annimation Rotation */
    /*animation: tourne 15s linear infinite;*/
}
/* Partie ouvrante du Pokedex */
.partie-mobile {
    transition: all 4s ease-out;
    /* Centre du truc 3D (autour duquel la rotation se fait) */
    transform-origin: 300px 0px 7px;
}
/* Ouverture du Pokédex au survol */
.pokedex:hover .partie-mobile {
    transform: rotateY( 150deg );
}
.pokedex:hover .charniere__face--back, .pokedex:hover .charniere__face--back-left, .pokedex:hover .charniere__face--back-right .pokedex:hover .charniere__face--left{
    background-color: var( --couleur-principale2 )
}
.pokedex:hover .surface-fond__face--front, .pokedex:hover .partie-secondaire__face--back {
    background-color: var( --couleur-principale )
}
.pokedex:hover {
    transform: translateY( -200px ) translateZ( 200px ) translateX(-160px) rotateY(20deg) rotateX(10deg);
}
.pokedex:hover .surface-fond__face--back{
    box-shadow: none;
}
/* Arrière de la partie principale */
.surface-fond__face { position: absolute; transition: all 4s ease-out; }
.surface-fond__face--front  { transform: rotateY(  0deg) translateZ( 12.5px); background-color: var( --couleur-secondaire );width: 280px;height: 470px;}
.surface-fond__face--right  { transform: rotateY( 90deg) translateZ(267.5px); background-color: var( --couleur-secondaire );width:  25px;height: 470px;}
.surface-fond__face--back   { transform: rotateY(180deg) translateZ( 12.5px); background-color: var( --couleur-secondaire );width: 280px;height: 470px;
    box-shadow: -60px 20px 40px grey;
}
.surface-fond__face--left   { transform: rotateY(-90deg) translateZ( 12.5px); background-color: var( --couleur-secondaire );width:  25px;height: 470px;}
.surface-fond__face--bottom { transform: rotateX(-90deg) translateZ(457.5px); background-color: var( --couleur-secondaire );width: 280px;height: 25px;}
.surface-fond__face--top    { transform: rotateX( 90deg) translateZ(   20px) translateY( 8px); background-color: var( --couleur-secondaire );width: 320px;height: 40px;}
/* Charnière liant la partie principale et secondaire */
.charniere__face { position: absolute; transition: all 4s ease-out; }
.charniere__face--top    { transform: rotateX( 90deg) translateZ( -30px) translateX(280px) translateY(7.57px);background-color: var( --couleur-secondaire );width: 40px; height: 40px;clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);}
.charniere__face--bottom { transform: rotateX(-90deg) translateZ(450px) translateX(280px) translateY(-7.5px);background-color: var( --couleur-secondaire );width: 40px; height: 40px;clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);}
.charniere__face--front       { transform: rotateY(   0deg) translateZ(  27.5px) translateX(  292px) translateY(50px); background-color: var( --couleur-principale );width: 16.57px; height: 420px;}
.charniere__face--front-right { transform: rotateY(  45deg) translateZ( 231.5px) translateX(  201px) translateY(50px); background-color: var( --couleur-principale );width: 16.57px; height: 420px;}
.charniere__face--front-left  { transform: rotateY( -45deg) translateZ(  -181px) translateX(211.5px) translateY(50px); background-color: var( --couleur-secondaire );width: 16.57px; height: 420px;}
.charniere__face--right       { transform: rotateY(  90deg) translateZ( 311.3px) translateX(   -8px) translateY(50px); background-color: var( --couleur-principale );width: 16.57px; height: 420px;}
.charniere__face--left        { transform: rotateY( -90deg) translateZ(  -272px) translateX(    8px) translateY(50px); background-color: var( --couleur-secondaire );width: 16.57px; height: 420px;}
.charniere__face--back        { transform: rotateY( 180deg) translateZ(  12.5px) translateX( -292px) translateY(50px); background-color: var( --couleur-secondaire );width: 16.57px; height: 420px;}
.charniere__face--back-right  { transform: rotateY( 130deg) translateZ( 238.1px) translateX( -192px) translateY(50px); background-color: var( --couleur-secondaire );width: 16.57px; height: 420px;}
.charniere__face--back-left   { transform: rotateY(-133deg) translateZ(-198.9px) translateX( -194px) translateY(50px); background-color: var( --couleur-secondaire );width: 16.57px; height: 420px;}
/* Bloc supérieur du boitier principal */
.boitier-superieur__face { position: absolute; }
.boitier-superieur__face--front { transform: rotateY(  0deg) translateZ(27.5px); background-color: #D1092B ;width: 320px;height: 100px;clip-path: polygon(34% 100%, 50% 50%, 100% 50%, 100% 0, 0 0, 0 100%);}
.boitier-superieur__face--left  { transform: rotateY(-90deg) translateZ( 7.3px) translateX(  20.4px); background-color: var( --couleur-secondaire );width: 15px;height: 100px;}
.boitier-superieur__face--right { transform: rotateY( 90deg) translateZ( 300px) translateX(    -7px); background-color: var( --couleur-secondaire );width: 40px;height: 50px;}
.boitier-superieur__face--back  { transform: rotateY(180deg) translateZ(12.5px) translateX(-279.8px); background-color: var( --couleur-secondaire );width: 40px;height: 50px;}
.boitier-superieur__face--bottom-right  { transform: rotateX( 90deg) translateZ(  -30px) translateY( 8px) translateX(159px); background-color: var( --couleur-secondaire );width: 161.3px;height: 40px;}
.boitier-superieur__face--bottom-center { transform: rotateX( 90deg) rotateY(-45deg) translateZ(-117px) translateY(20px) translateX( 21.4px); background-color: var( --couleur-secondaire );width: 72px;height: 15px;}
.boitier-superieur__face--bottom-left   { transform: rotateX( 90deg) translateZ(-92.5px) translateY(20px) translateX(  0px); background-color: var( --couleur-secondaire );width: 109px;height: 15px;}
/* Lampe Bleue */
.groupe-3d {
    position: relative;
    transform-style: preserve-3d;
}
.lampe-bleue__face { position: absolute; }
.lampe-bleue__face--front  { transform: translateX(42px) translateY(42px) translateZ(42.5px) rotateY(  0deg); background-color: var(--lampe-principale) ;width: 20px;height: 20px; }
.lampe-bleue__face--top    { transform: translateX(42px) translateY(24px) translateZ(35px) rotateY( 0deg) rotateX( 45deg) rotateZ( 180deg); background: linear-gradient(var(--lampe-principale), var(--lampe-secondaire)) ;width: 20px;height: 21.21px; }
.lampe-bleue__face--bottom { transform: translateX(42px) translateY(58.9px) translateZ(35px) rotateY(180deg) rotateX( 45deg); background: linear-gradient(var(--lampe-principale), var(--lampe-secondaire)) ;width: 20px;height: 21.21px; }
.lampe-bleue__face--left   { transform: translateX(24.5px) translateY(41.5px) translateZ(35px) rotateZ(-90deg) rotateX( 45deg)rotateZ( 180deg); background: linear-gradient(var(--lampe-principale), var(--lampe-secondaire)) ;width: 20px;height: 21.21px; }
.lampe-bleue__face--right  { transform: translateX(59.5px) translateY(41.5px) translateZ(35px) rotateZ( 90deg) rotateX( 45deg)rotateZ( 180deg); background: linear-gradient(var(--lampe-principale), var(--lampe-secondaire)) ;width: 20px;height: 21.21px; }
.lampe-bleue__face--top-left     { transform: translateX(27.8px) translateY(29.2px) translateZ(35px) rotateX( -90deg) rotateY( 45deg) rotateX( -35deg); background: linear-gradient(var(--lampe-principale), var(--lampe-secondaire)); ;width: 21.21px;height: 18.4px; clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }
.lampe-bleue__face--top-right    { transform: translateX(55px) translateY(29.2px) translateZ(35px) rotateX( -90deg) rotateY( -45deg) rotateX( -35deg); background: linear-gradient(var(--lampe-principale), var(--lampe-secondaire)); ;width: 21.21px;height: 18.4px; clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }
.lampe-bleue__face--bottom-left  { transform: translateX(27.8px) translateY(56.6px) translateZ(35px) rotateX( -90deg) rotateY( 135deg) rotateX( -35deg); background: linear-gradient(var(--lampe-principale), var(--lampe-secondaire)); ;width: 21.21px;height: 18.4px; clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }
.lampe-bleue__face--bottom-right { transform: translateX(55px) translateY(56.6px) translateZ(35px) rotateX( -90deg) rotateY( -135deg) rotateX( -35deg); background: linear-gradient(var(--lampe-principale), var(--lampe-secondaire)); ;width: 21.21px;height: 18.4px; clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }
/* Partie secondaire */
.partie-secondaire__face { position: absolute; transition: all 4s ease-out; }
.partie-secondaire__face--front  { transform: rotateY(  0deg) translateZ( 27.5px) translateY(   52px); background-color: var( --couleur-principale );width: 289px;height: 418px; clip-path: polygon(0 100%, 0 12%, 38% 12%, 55.5% 0, 100% 0, 100% 100%);}
.partie-secondaire__face--back   { transform: rotateY(  180deg) translateZ( -15px) translateY(   52px); background-color: var( --couleur-secondaire );width: 289px;height: 418px; clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 12%, 62% 12%, 44% 0);}
.partie-secondaire__face--right  { transform: rotateY( 90deg) translateZ(  281px) translateX(  -21px) translateY(52px); background-color: var( --couleur-secondaire );width: 14px;height: 418px;}
.partie-secondaire__face--left   { transform: rotateY(-90deg) translateZ(    7px) translateX(   21px) translateY(102px); background-color: var( --couleur-secondaire );width: 14px;height: 368px;}
.partie-secondaire__face--bottom { transform: rotateX(-90deg) translateY(-20.5px) translateZ(462.5px); background-color: var( --couleur-secondaire );width: 289px;height: 14px;}
.partie-secondaire__face--top-right  { transform: rotateX(90deg) translateZ(-45.6px) translateY(20px) translateX(160px); background-color: var( --couleur-secondaire );width: 129px;height: 14px;}
.partie-secondaire__face--top-left   { transform: rotateX(90deg) translateZ(  -95px) translateY(20px) translateX(  0px); background-color: var( --couleur-secondaire );width: 111px;height: 15px;}
.partie-secondaire__face--top-center { transform: rotateX(90deg) rotateY(-45deg) translateZ(-120px) translateY(20px) translateX(21.4px); background-color: var( --couleur-secondaire );width: 71px;height: 15px;}

/* ELEMENTS DE DETAIL (Non 3D) */
/* LEDs du haut du boitier */
.boitier-superieur__face--front .gris {
    border-radius: 50%;
    height: 70px;width: 70px;
    background-color: var( --couleur-gris );
    margin-left: 15px;margin-top: 15px;
    border: 2px solid var( --couleur-secondaire );
}
.boitier-superieur__face--front .rouge {
    border-radius: 50%;
    height: 10px;width: 10px;
    background-image: url("images/led_rouge.png");
    margin-left: 10px;margin-top: 20px;
    border: 1px solid var( --couleur-secondaire );
}
.boitier-superieur__face--front .jaune {
    border-radius: 50%;
    height: 10px;width: 10px;
    background-image: url("images/led_jaune.png");
    margin-left: 15px;margin-top: 20px;
    border: 1px solid var( --couleur-secondaire );
}
.boitier-superieur__face--front .vert {
    border-radius: 50%;
    height: 10px;width: 10px;
    background-image: url("images/led_verte.png");
    margin-left: 10px;margin-top: 20px;
    border: 1px solid var( --couleur-secondaire );
}

/* Elements sur le clapet fermé */
.partie-secondaire__face--front .triangle {
	flex-basis: 100%;
	clip-path: polygon(0 0, 0 100%, 100% 50%);
	background-color: #ffc300;
	width: 24px; height: 44px;
	margin-top: 200px; margin-left: 10px;
}
.partie-secondaire__face--front .relief {
	width: 150px; height: 10px;
	margin-top: 120px;
	border-radius: 7.5px;
	border: 1px solid var( --couleur-secondaire );
}

/* Elements sur le clapet ouvert */
.partie-secondaire__face--back .relief { background-color: black/*var( --couleur-secondaire )*/ ; width: 270px; height: 410px; margin-top:5px; margin-left:15px; clip-path: polygon(1% 99%, 1% 1%, 41% 1%, 57% 29%, 99% 30%, 99% 100%, 100% 100%, 99% 24%, 60% 23%, 46% 0, 0 0, 0 100%, 99% 100%, 99% 99%);}

--.partie-secondaire__face--back .relief div { background-color: black/*var( --couleur-secondaire )*/ ; width: 270px; height: 410px; margin-top:5px; margin-left:15px; clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 12%, 60% 12%, 41% 0);}
/* Ecran */
.ecran {
    /*outline:2rem solid black;*/
    box-shadow: inset 0 0 18rem black, inset 0 0 3rem black;
    filter: grayscale(100%);
    overflow: auto;
    height:220px; width:250px;
    margin-top:150px;margin-left:15px;
    background-color: darkgrey;
    /*
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
    */
}

/* CAMERA */
@-webkit-keyframes tourne {
	0% {}
	100% { -webkit-transform: rotateY( 360deg ); }
}
.pokedex.show-front  { transform: translateY(-5px) translateZ(300px) translateX(70px) rotateY(   0deg); }
.pokedex.show-right  { transform: translateZ(0px) rotateY( -90deg); }
.pokedex.show-back   { transform: translateZ(0px) rotateY(-180deg); }
.pokedex.show-left   { transform: translateZ(0px) rotateY(  90deg); }
.pokedex.show-top    { transform: translateZ(0px) rotateX( -90deg); }
.pokedex.show-bottom { transform: translateZ(0px) rotateX(  90deg); }
.pokedex.show-ouvert .partie-mobile { transform: rotateY( 150deg ); }
.pokedex.show-ouvert .charniere__face--back, .pokedex:hover .charniere__face--back-left, .pokedex:hover .charniere__face--back-right .pokedex:hover .charniere__face--left{
    background-color: var( --couleur-principale2 )
}
.pokedex.show-ouvert .surface-fond__face--front, .pokedex:hover .partie-secondaire__face--back {
    background-color: var( --couleur-principale )
}
.pokedex.show-ouvert {
    transform: translateY( -200px ) translateZ( 200px ) translateX(-160px) rotateY(20deg) rotateX(10deg);
}
.pokedex.show-ouvert .surface-fond__face--back{
    box-shadow: none;
}

/* FLEXBOX */
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
