:root {
    --couleur-fond: #CCC;
    --couleur-principale:  #dc0a2d;
    --couleur-principale-assombrie: #D1092B;
    --couleur-secondaire:  #89061c;

    --gris: #dedede;
    --gris-secondaire: #848585;

    --lampe-principale: #28aafd;
    --lampe-secondaire: #196a9e;

    --transparent: rgba(117, 190, 218, 0.5);
}

/* SCENE */
.scene {
    perspective: 3000px;
    perspective-origin: 300px 500px;
    transform: translateY( 0px );
    position: fixed;
    top: 50%;
}

body {
    font-family: verdana;
    font-size: 12px;
    background: var( --couleur-fond );
    /*
    background-image: url("https://d.furaffinity.net/art/blazingifrit/1475361156/1475361156.blazingifrit_zoruaeevee_background.jpg");
    background-size: cover;
    */
}
.ligne {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.border {
    border: 1px solid black;
}


/* ELEMENTS EN 3D */
/* Ensemble du Pokedex */
.pokedex {
    transform: rotateX( 60deg ) rotateZ( 70deg ) translateZ(-0px) translateX(50px) translateY(-200px);
    height: 100%;
    width: 280px;
    position: relative;
    transform-style: preserve-3d;
    transition: 4s;
    /* Center du truc 3D (autour duquel la rotation se fait) */
    transform-origin: 140px 0px 0px;
    /* Annimation Rotation */
    /*animation: tourne 15s linear infinite;*/
}
/* Partie ouvrante du Pokedex */
.partie-mobile {
    transition: all 4s ease-out;
    /* Centre du truc 3D (autour duquel la rotation se fait) */
    transform-origin: 300px 0px 7px;
}
/* Arrière de la partie principale */
.partie-principale__face { position: absolute; transition: all 4s ease-out; }
.partie-principale__face--front  { transform: rotateY(  0deg) translateZ( 12.5px); background-color: var( --couleur-secondaire );width: 280px;height: 470px;}
.partie-principale__face--right  { transform: rotateY( 90deg) translateZ(267.5px); background-color: var( --couleur-secondaire );width:  25px;height: 470px;}
.partie-principale__face--back   { transform: rotateY(180deg) translateZ( 12.5px); background-color: var( --couleur-secondaire );width: 280px;height: 470px;
    box-shadow: -60px 20px 40px grey;
}
.partie-principale__face--left   { transform: rotateY(-90deg) translateZ( 12.5px); background-color: var( --couleur-secondaire );width:  25px;height: 470px;}
.partie-principale__face--bottom { transform: rotateX(-90deg) translateZ(457.5px); background-color: var( --couleur-secondaire );width: 280px;height: 25px;}
.partie-principale__face--top    { transform: rotateX( 90deg) translateZ(   20px) translateY( 8px); background-color: var( --couleur-secondaire );width: 320px;height: 40px;}
/* Charnière liant la partie principale et secondaire */
.charniere__face { position: absolute; transition: all 4s ease-out; }
.charniere__face--top    { transform: rotateX( 90deg) translateZ( -30px) translateX(280px) translateY(7.57px);background-color: var( --couleur-secondaire );width: 40px; height: 40px;clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);}
.charniere__face--bottom { transform: rotateX(-90deg) translateZ(450px) translateX(280px) translateY(-7.5px);background-color: var( --couleur-secondaire );width: 40px; height: 40px;clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);}
.charniere__face--front       { transform: rotateY(   0deg) translateZ(  27.5px) translateX(  292px) translateY(50px); background-color: var( --couleur-principale );width: 16.57px; height: 420px;}
.charniere__face--front-right { transform: rotateY(  45deg) translateZ( 231.5px) translateX(  201px) translateY(50px); background-color: var( --couleur-principale );width: 16.57px; height: 420px;}
.charniere__face--front-left  { transform: rotateY( -45deg) translateZ(  -181px) translateX(211.5px) translateY(50px); background-color: var( --couleur-secondaire );width: 16.57px; height: 420px;}
.charniere__face--right       { transform: rotateY(  90deg) translateZ( 311.3px) translateX(   -8px) translateY(50px); background-color: var( --couleur-principale );width: 16.57px; height: 420px;}
.charniere__face--left        { transform: rotateY( -90deg) translateZ(  -272px) translateX(    8px) translateY(50px); background-color: var( --couleur-secondaire );width: 16.57px; height: 420px;}
.charniere__face--back        { transform: rotateY( 180deg) translateZ(  12.5px) translateX( -292px) translateY(50px); background-color: var( --couleur-secondaire );width: 16.57px; height: 420px;}
.charniere__face--back-right  { transform: rotateY( 130deg) translateZ( 238.1px) translateX( -192px) translateY(50px); background-color: var( --couleur-secondaire );width: 16.57px; height: 420px;}
.charniere__face--back-left   { transform: rotateY(-133deg) translateZ(-198.9px) translateX( -194px) translateY(50px); background-color: var( --couleur-secondaire );width: 16.57px; height: 420px;}
/* Bloc supérieur du boitier principal */
.boitier-superieur__face { position: absolute; }
.boitier-superieur__face--front { transform: rotateY(  0deg) translateZ(27.5px); background-color: #D1092B ;width: 320px;height: 100px;clip-path: polygon(34% 100%, 50% 50%, 100% 50%, 100% 0, 0 0, 0 100%);}
.boitier-superieur__face--left  { transform: rotateY(-90deg) translateZ( 7.3px) translateX(  20.4px); background-color: var( --couleur-secondaire );width: 15px;height: 100px;}
.boitier-superieur__face--right { transform: rotateY( 90deg) translateZ( 300px) translateX(    -7px); background-color: var( --couleur-secondaire );width: 40px;height: 50px;}
.boitier-superieur__face--back  { transform: rotateY(180deg) translateZ(12.5px) translateX(-279.8px); background-color: var( --couleur-secondaire );width: 40px;height: 50px;}
.boitier-superieur__face--bottom-right  { transform: rotateX( 90deg) translateZ(  -30px) translateY( 8px) translateX(159px); background-color: var( --couleur-secondaire );width: 161.3px;height: 40px;}
.boitier-superieur__face--bottom-center { transform: rotateX( 90deg) rotateY(-45deg) translateZ(-117px) translateY(20px) translateX( 21.4px); background-color: var( --couleur-secondaire );width: 72px;height: 15px;}
.boitier-superieur__face--bottom-left   { transform: rotateX( 90deg) translateZ(-92.5px) translateY(20px) translateX(  0px); background-color: var( --couleur-secondaire );width: 109px;height: 15px;}
/* Lampe Bleue */
.groupe-3d {
    position: relative;
    transform-style: preserve-3d;
}
.lampe-bleue__face { position: absolute; }
.lampe-bleue__face--front  { transform: translateX(42px) translateY(42px) translateZ(42.5px) rotateY(  0deg); background-color: var(--lampe-principale) ;width: 20px;height: 20px; }
.lampe-bleue__face--top    { transform: translateX(42px) translateY(24px) translateZ(35px) rotateY( 0deg) rotateX( 45deg) rotateZ( 180deg); background: linear-gradient(var(--lampe-principale), var(--lampe-secondaire)) ;width: 20px;height: 21.21px; }
.lampe-bleue__face--bottom { transform: translateX(42px) translateY(58.9px) translateZ(35px) rotateY(180deg) rotateX( 45deg); background: linear-gradient(var(--lampe-principale), var(--lampe-secondaire)) ;width: 20px;height: 21.21px; }
.lampe-bleue__face--left   { transform: translateX(24.5px) translateY(41.5px) translateZ(35px) rotateZ(-90deg) rotateX( 45deg)rotateZ( 180deg); background: linear-gradient(var(--lampe-principale), var(--lampe-secondaire)) ;width: 20px;height: 21.21px; }
.lampe-bleue__face--right  { transform: translateX(59.5px) translateY(41.5px) translateZ(35px) rotateZ( 90deg) rotateX( 45deg)rotateZ( 180deg); background: linear-gradient(var(--lampe-principale), var(--lampe-secondaire)) ;width: 20px;height: 21.21px; }
.lampe-bleue__face--top-left     { transform: translateX(27.8px) translateY(29.2px) translateZ(35px) rotateX( -90deg) rotateY( 45deg) rotateX( -35deg); background: linear-gradient(var(--lampe-principale), var(--lampe-secondaire)); ;width: 21.21px;height: 18.4px; clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }
.lampe-bleue__face--top-right    { transform: translateX(55px) translateY(29.2px) translateZ(35px) rotateX( -90deg) rotateY( -45deg) rotateX( -35deg); background: linear-gradient(var(--lampe-principale), var(--lampe-secondaire)); ;width: 21.21px;height: 18.4px; clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }
.lampe-bleue__face--bottom-left  { transform: translateX(27.8px) translateY(56.6px) translateZ(35px) rotateX( -90deg) rotateY( 135deg) rotateX( -35deg); background: linear-gradient(var(--lampe-principale), var(--lampe-secondaire)); ;width: 21.21px;height: 18.4px; clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }
.lampe-bleue__face--bottom-right { transform: translateX(55px) translateY(56.6px) translateZ(35px) rotateX( -90deg) rotateY( -135deg) rotateX( -35deg); background: linear-gradient(var(--lampe-principale), var(--lampe-secondaire)); ;width: 21.21px;height: 18.4px; clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }
/* Partie secondaire */
.partie-secondaire__face { position: absolute; transition: all 4s ease-out; }
.partie-secondaire__face--front  { transform: rotateY(  0deg) translateZ( 27.5px) translateY(   52px); background-color: var( --couleur-principale );width: 289px;height: 418px; clip-path: polygon(0 100%, 0 12%, 38% 12%, 55.5% 0, 100% 0, 100% 100%);}
.partie-secondaire__face--back   { transform: rotateY(  180deg) translateZ( -15px) translateY(   52px); background-color: var( --couleur-secondaire );width: 289px;height: 418px; clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 12%, 62% 12%, 44% 0);}
.partie-secondaire__face--right  { transform: rotateY( 90deg) translateZ(  281px) translateX(  -21px) translateY(52px); background-color: var( --couleur-secondaire );width: 14px;height: 418px;}
.partie-secondaire__face--left   { transform: rotateY(-90deg) translateZ(    7px) translateX(   21px) translateY(102px); background-color: var( --couleur-secondaire );width: 14px;height: 368px;}
.partie-secondaire__face--bottom { transform: rotateX(-90deg) translateY(-20.5px) translateZ(462.5px); background-color: var( --couleur-secondaire );width: 289px;height: 14px;}
.partie-secondaire__face--top-right  { transform: rotateX(90deg) translateZ(-45.6px) translateY(20px) translateX(160px); background-color: var( --couleur-secondaire );width: 129px;height: 14px;}
.partie-secondaire__face--top-left   { transform: rotateX(90deg) translateZ(  -95px) translateY(20px) translateX(  0px); background-color: var( --couleur-secondaire );width: 111px;height: 15px;}
.partie-secondaire__face--top-center { transform: rotateX(90deg) rotateY(-45deg) translateZ(-120px) translateY(20px) translateX(21.4px); background-color: var( --couleur-secondaire );width: 71px;height: 15px;}
/* Partie blanche contenant l'écran */
.partie-blanche__face { position: absolute; transition: all 4s ease-out; }
.partie-blanche__face--front        { transform: rotateY(  0deg) translateX( 30px) translateY( 130px) translateZ( 24px); background-color: var( --gris-secondaire );width: 215px;height: 190px; clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%, 0 85%); }
.partie-blanche__face--left         { transform: rotateY(  90deg) translateX( -18px) translateY( 130px) translateZ( 26px); background-color: var( --gris-secondaire );width: 10px;height: 161.5px; }
.partie-blanche__face--right        { transform: rotateY(  90deg) translateX( -18px) translateY( 129.5px) translateZ(240px); background-color: var( --gris-secondaire );width: 10px;height: 190px; }
.partie-blanche__face--top          { transform: rotateY(  90deg) rotateX(  90deg) translateX( -18px) translateY( 133px) translateZ( -22.5px); background-color: var( --gris-secondaire );width: 10px;height: 215px; }
.partie-blanche__face--bottom       { transform: rotateY(  90deg) rotateX(  90deg) translateX( -18px) translateY( 149px) translateZ( -227.8px); background-color: var( --gris-secondaire );width: 10px;height: 183px; }
.partie-blanche__face--bottom-right { transform: rotateY(  90deg) translateX( -18px) translateY( 284px) translateZ( 42px) rotateX(48.5deg); background-color: var( --gris-secondaire );width: 10px;height: 42.5px; }
/* Joystick */
.joystick__face { position: absolute; transition: all 4s ease-out; }
.joystick__face--front  { transform: rotateY(  0deg) translateZ( 30px) translateX(185px) translateY(350px); background-color: var( --transparent );width: 75px;height: 75px; clip-path: polygon(35% 0, 65% 0, 65% 35%, 100% 35%, 100% 65%, 65% 65%, 65% 100%, 35% 100%, 35% 65%, 0 65%, 0 35%, 35% 35%); }
.joystick__face--left   { transform: rotateY(  90deg) translateX( -18px) translateY( 350px) translateZ( 205px); background-color: var( --transparent );width: 10px;height: 75px; }
.joystick__face--right  { transform: rotateY(  90deg) translateX( -18px) translateY( 350px) translateZ(240px); background-color: var( --transparent );width: 10px;height: 75px; }
.joystick__face--top    { transform: rotateY(  90deg) rotateX(  90deg) translateX( -18px) translateY( 230px) translateZ( -330px); background-color: var( --transparent );width: 10px;height: 75px; }
.joystick__face--bottom { transform: rotateY(  90deg) rotateX(  90deg) translateX( -18px) translateY( 230px) translateZ( -360px); background-color: var( --transparent );width: 10px;height: 75px; }

/* ELEMENTS DE DETAIL (Non 3D) */
/* LEDs du haut du boitier */
.boitier-superieur__face--front .gris {
    border-radius: 50%;
    height: 70px;width: 70px;
    background-color: var( --gris );
    margin-left: 15px;margin-top: 15px;
    border: 2px solid var( --couleur-secondaire );
}
.boitier-superieur__face--front .rouge {
    border-radius: 50%;
    height: 10px;width: 10px;
    background-image: url("images/led_rouge.png");
    margin-left: 10px;margin-top: 20px;
    border: 1px solid var( --couleur-secondaire );
}
.boitier-superieur__face--front .jaune {
    border-radius: 50%;
    height: 10px;width: 10px;
    background-image: url("images/led_jaune.png");
    margin-left: 15px;margin-top: 20px;
    border: 1px solid var( --couleur-secondaire );
}
.boitier-superieur__face--front .vert {
    border-radius: 50%;
    height: 10px;width: 10px;
    background-image: url("images/led_verte.png");
    margin-left: 10px;margin-top: 20px;
    border: 1px solid var( --couleur-secondaire );
}

/* Elements sur le clapet fermé */
.partie-secondaire__face--front .triangle {
	flex-basis: 100%;
	clip-path: polygon(0 0, 0 100%, 100% 50%);
	background-color: #ffc300;
	width: 24px; height: 44px;
	margin-top: 200px; margin-left: 10px;
}
.partie-secondaire__face--front .relief {
	width: 150px; height: 10px;
	margin-top: 120px;
	border-radius: 7.5px;
	border: 1px solid var( --couleur-secondaire );
}

/* Elements sur le Pokédex ouvert */
.partie-secondaire__face--back .relief {
    background-color: var( --couleur-secondaire );
    width: 268px; height: 405px;
    margin-top:5px; margin-left:13px;
    clip-path: polygon(0 0, 42% 0, 60% 12%, 100% 12%, 100% 100%, 0 100%);
    padding: 2px;
}
.partie-secondaire__face--back .relief .relief-interieur {
    transition: all 4s ease-out;
    background-color: var( --couleur-secondaire );
    width: 268px; height: 405px;
    clip-path: polygon(0 0, 42% 0, 60% 12%, 100% 12%, 100% 100%, 0 100%);
	display: flex;
}
.partie-principale__face--front .relief {
    background-color: var( --couleur-secondaire );
    width: 265px; height: 405px;
    margin-top:55px; margin-left:5px;
    clip-path: polygon(0 100%, 0 12.5%, 39% 12.5%, 58% 0, 100% 0, 100% 100%);
    padding: 2px;
}
.partie-principale__face--front .relief .relief-interieur {
    transition: all 4s ease-out;
    background-color: var( --couleur-secondaire );
    width: 265px; height: 405px;
    clip-path: polygon(0 100%, 0 12.5%, 39% 12.5%, 58% 0, 100% 0, 100% 100%);
    display: flex;
}

/* Ecrans */
.partie-blanche__face--front .ecran {
    box-shadow: inset 0 0 14rem #101010, inset 0 0 2rem #101010;
    filter: grayscale(100%);
    overflow: auto;
    height:130px; width:155px;
    margin-top:30px; margin-left:30px;
    background-color: darkgrey;
    border-radius: 5px;
}
.partie-secondaire__face--back .ecran {
    box-shadow: inset 0 0 14rem #101010, inset 0 0 2rem #101010;
    filter: grayscale(100%);
    overflow: auto;
    height:75px; width:220px;
    margin-top:70px; margin-left:25px;
    background-color: darkgrey;
    border-radius: 5px;
}

/* ANIMATION */
@-webkit-keyframes tourne {
	0% {}
	100% { -webkit-transform: rotateY( 360deg ); }
}
.pokedex.show-front  { transform: translateY(-5px) translateZ(300px) translateX(70px) rotateY(   0deg); }
.pokedex.show-right  { transform: translateZ(0px) rotateY( -90deg); }
.pokedex.show-back   { transform: translateZ(0px) rotateY(-180deg); }
.pokedex.show-left   { transform: translateZ(0px) rotateY(  90deg); }
.pokedex.show-top    { transform: translateZ(0px) rotateX( -90deg); }
.pokedex.show-bottom { transform: translateZ(0px) rotateX(  80deg); }
.pokedex.show-ouvert .partie-mobile { transform: rotateY( 150deg ); }

/* Ouverture du Pokédex au survol */
.pokedex:hover .partie-mobile {
    /* Rotation de la partie mobile, ouvrant le clapet */
    transform: rotateY( 150deg );
}
.pokedex:hover .charniere__face--left,
.pokedex:hover .charniere__face--back,
.pokedex:hover .charniere__face--back-left,
.pokedex:hover .charniere__face--back-right,
.pokedex.show-ouvert .charniere__face--left,
.pokedex.show-ouvert .charniere__face--back,
.pokedex.show-ouvert .charniere__face--back-left,
.pokedex.show-ouvert .charniere__face--back-right {
    /* Eclaircissement de la charnière, un peu moins que le reste */
    background-color: var( --couleur-principale-assombrie )
}
.pokedex:hover .partie-blanche__face--front,
.pokedex.show-ouvert .partie-blanche__face--front
{
    /* Eclaircissement de la zone grise sous l'écran */
    background-color: var( --gris )
}
.pokedex:hover .partie-principale__face--front,
.pokedex:hover .partie-secondaire__face--back,
.pokedex:hover .partie-secondaire__face--back .relief .relief-interieur,
.pokedex:hover .partie-principale__face--front .relief .relief-interieur,
.pokedex.show-ouvert .partie-principale__face--front,
.pokedex.show-ouvert .partie-secondaire__face--back,
.pokedex.show-ouvert .partie-secondaire__face--back .relief .relief-interieur,
.pokedex.show-ouvert .partie-principale__face--front .relief .relief-interieur
{
    /* Eclaircissement des surfaces intérieur principale et secondaire */
    background-color: var( --couleur-principale )
}
.pokedex:hover,
.pokedex.show-ouvert {
    /* Repositionnement du Pokédexs */
    transform: translateY( -200px ) translateZ( 200px ) translateX(-160px) rotateY(30deg) rotateX(10deg);
}
.pokedex:hover .partie-principale__face--back,
.pokedex.show-ouvert .partie-principale__face--back{
    /* Retirer l'ombre */
    box-shadow: none;
}

/* FLEXBOX */
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
